<br />
<br />
<div class="booyah-box col-xs-10 col-xs-offset-1">
<!-- <div class="col-xs-10 col-xs-offset-1 about"> -->
  <h1>About Vidshare</h1>
  <br />

  <p>
    Vidshare is two-side educational platform built with the help of The Firehose Project using Ruby on Rails, Javascript, jQuery, HTML, CSS3 and GitHub and Heroku. 
  </p>
  <br />
  <br />


<div class="col-xs-12 col-sm-4 col-xs-offset-1">
  <%= image_tag 'chilkats.jpg', class: 'img-responsive' %>
<br />
<br />
</div>

<div class="col-xs-12 col-sm-4 col-sm-offset-1 name">
  <h2 class="text-center">Zach Berman</h2>
  <br />
  <p>Vidshare was built by <a target="blank" href= "https://www.facebook.com/zach.berman.39">Zach Berman.</a> Web developer, avalanche educator, ski guide, snack aficionado.</p>
</div>
<br class="clear" />
</div>
